<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Mantenimiento</title>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
	<link href="favicon.html" rel="icon">
	<link rel="stylesheet" th:href="@{/assets/css/estilos.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/contact-form.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}">
	<script src="/SGV/assets/js/jquery-3.4.1.min.js"></script>
	<script src="https://kit.fontawesome.com/4b484f74be.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>	
	
	
</head>
<body>
	<header>
				<div class="heades">
					<img th:src="@{/images/pgj.png}" style="width: 20%">			
				</div>
                <div class="TituloCon"></div>
		<div class="form-group last col-sm-12 form-nav">		    		
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/home}' style="width: 48px; height: 34px; float: right; margin-right: 5%;margin-top: 5px;"><i class="fas fa-home fa-2x" style="margin-top: 10%;"></i></a>
			<a th:if="not ${placa}" class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/Mantenimientos}' style="width: 48px; height: 34px; float: right; margin-right: 5%;margin-top: 5px;"><i class="far fa-arrow-alt-circle-left fa-2x" style="margin-top: 10%"></i></a>
			<a th:if="${placa}" class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/Mantenimientos/}+${placa}' style="width: 48px; height: 34px; float: right; margin-right: 5%;margin-top: 5px;"><i class="far fa-arrow-alt-circle-left fa-2x" style="margin-top: 10%"></i></a>
			<div id="button" class="form-group last col-sm-4 " style="margin-bottom: 5px;margin-top: 5px;"> 
				<div class="container col-sm-4">
  							 				 					 			
	 				<div class="dropdown col-sm-4"  >
						  
						  <a class="btn btn-secondary dropdown-toggle btn-stilo" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #337ab7;">						   
						  MENU
						  </a>
						
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						  	
						    <form th:action="@{/Viajes}" style="margin-bottom: 3px; margin-left: 5px;" >
						        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Viajes</button>					    	
				    		</form>						    
						    <form th:action="@{/Vehiculos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Vehiculo</button>					    	
						    </form>
						     <form th:action="@{/Seguros}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Seguros</button>					    	
						    </form>
						     <form th:action="@{/Conductores}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Conductores</button>					    	
						    </form>	
						    <form th:action="@{/Mantenimientos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Mantenimiento</button>					    	
						    </form>						 
						   		
						  </div>
					</div>			
 				</div>
 			</div> 			
		</div>
		<h1 class="item-title text-right StituloCon">Mantenimiento</h1>
	</header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formMant}" th:object="${mantenimiento}" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            <div class="row">
	                                            
	                                            <!--Fecha de Registro-->
	                                            	<div class="form-group col-sm-5">
														<div class="help-block with-errors"></div>
														
														<div style=" width:40%;display: inline-block;">
															<input th:field="*{fecha_ingreso}" onchange="validarFRe()" name="H_re" id="H_re" placeholder="Fecha de Registro" class="form-control" type="date" required data-error="Ingrese Fecha de Ingreso">
														    <div class="input-group-icon"><i class="fas fa-calendar-alt"></i></div>
														</div>
														<div style=" width:40%;display: inline-block;">
															<input type="text" readonly="readonly" placeholder="Fecha de Registro" class="form-control">
															
														</div>

														
													</div>
													<!--Fecha de Salida-->

													<div class="form-group col-sm-5">
														<div class="help-block with-errors"></div>
														<div style=" width:40%;display: inline-block;">
															<input th:field="*{fecha_entrega}" name="H_fin" id="H_fin" onchange="validarFfin()" placeholder="Fecha de Entrega" class="form-control" type="date" required data-error="Ingrese Fecha de Entrega">
															<div class="input-group-icon"><i class="fas fa-calendar-alt"></i></div>
														</div>

														<div style=" width:40%;display: inline-block;">
															<input type="text" readonly="readonly" placeholder="Fecha de Salida" class="form-control">															
														</div>

														
													</div>
														

													<!--Kilometraje final-->

													<div class="form-group col-sm-4">
														<div class="help-block with-errors"></div>
														<input th:field="*{kilometraje}" name="fname" id="kilo" placeholder="Kilometraje" class="form-control" type="number" required data-error="Ingrese El Kilometraje final" disabled>
														<div class="input-group-icon"><i class="fas fa-tachometer-alt"></i></div>
													</div>
																																				

													
													<!--Costo de Mantenimiento-->

													<div class="form-group col-sm-4">
														<div class="help-block with-errors"></div>
														<input th:field="*{costo_mantenimiento}" name="fname" id="Placa" placeholder="Costo de Mantenimiento" class="form-control" type="number" required data-error="Ingrese Costo de Mantenimiento">
														<div class="input-group-icon"><i class="fas fa-ad"></i></div>
													</div>
													
													<!--Placa-->

													<div class="form-group col-sm-4" style="    height: 35px;">
														<div class="form-group col-sm-5" >
															<div class="help-block with-errors" style=" width: 393px;"></div>
																<input th:value="${placa}"  name="fname" id="kilo" class="form-control" type="text" required data-error="Ingrese El Kilometraje final" disabled>
										                    <div class="input-group-icon"><i class="fas fa-car-side"></i></div>
														</div>
													</div>
													
													<!--Siniestro-->

													<div class="form-group col-sm-4">
													
														<div class="help-block with-errors"></div>
														
														<div class="form-check">
														<label class="form-check-label" for="defaultCheck1">
														    El Mantenimiento es causa de un siniestro?...
														  </label>														  
														  
														  <input th:checked="${siniestro}" class="form-check-input" name="siniestro"  type="checkbox" value=true id="defaultCheck1" style="text-align: center">
														  
														</div>																												
														
													</div>
													
													

													
													<!--Comentario-->

													<div class="form-group col-sm-12">
														<div class="help-block with-errors"></div>
														<textarea th:field="*{observaciones}" rows="3" name="message" id="Com" placeholder="Ingresa el destino" class="form-control" required data-error="observaciones"></textarea>
														<div class="textarea input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													</div>
													
													<input type="hidden" th:field="*{id_mantenimiento}" />
													<input type="hidden" th:field="*{vehiculo}" />

													<!--Boton de guardar-->

													<div  class="text-center">
														<button type="submit" id="guardar"  class="btn btn-custom btn-stilo"><i class='fa fa-envelope'></i> Guardar</button>
													<div class="clearfix"></div>
													<br>
												    </div>
	                                            
	                                            
	                                             
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>			
		</div>
	</section>
	<script type="text/javascript">
	function validarFfin()
	{
	   var fechainicial = document.getElementById("H_re").value;
	   var fechafinal = document.getElementById("H_fin").value;

	   if(Date.parse(fechafinal) < Date.parse(fechainicial)) {
		   document.getElementById("H_fin").value = fechainicial; 
	   alert("La fecha de salida debe ser mayor a la fecha de regreso");
		};
	}

	function validarFRe()
	{
	   var fechainicial = document.getElementById("H_re").value;
	   var fechafinal = document.getElementById("H_fin").value;
	
	   if(Date.parse(fechafinal) < Date.parse(fechainicial)) {
		   document.getElementById("H_re").value = fechafinal; 
	   alert("La fecha de salida debe ser mayor a la fecha de regreso");
		};
	}
	</script>
				
	
	<!-- jQuery Library -->
	<script src="/SGV/assets/js/jquery-3.4.1.min.js"></script>
	<!-- jQuery Library -->
	<script src="/SGV/assets/js/jquery.min.js"></script>
	<!-- Popper js -->
	<script src="/SGV/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/SGV/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/SGV/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/SGV/assets/js/contact-form.js"></script>
 
</body>
</html>