<!DOCTYPE html>


<html 
	xmlns:th= "http://www.thymeleaf.org" >	
	
	<head th:fragment = "head">
		<title>SGV</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="CSS/home.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
		<script src="https://kit.fontawesome.com/4b484f74be.js"></script>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">		
   
                
	</head>
	<body class="is-preload" style="background: #F5F5DC;">

		<!-- Wrapper -->
	<div id="wrapper">

				<!-- Header -->
	<header id="header" class="alt" >
	
       
       <div class=" logo" >
		  <div class="row no-gutters">
		    <div class="col-md-8">
		      <img th:src="@{images/pgj.png}" class="card-img" >
		    </div>
		    <div class="col-md-4">
		      <div class="card-body">
		        <ul>
	                  <li style="color:white;"><!-- <p class="textvien">Bienvenido: [[${#httpServletRequest.remoteUser}]]!</p> -->
	                  			 <p th:inline="text">Bienvenido: <span th:text="${Online}"></span></p> 
	                  </li>
	                  
	                  <li class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle btn-stilo" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #CD5C5D;">
					    <i class="fas fa-user-cog"></i>
					  </a>					
					  <div class="dropdown-menu btn-stilo" aria-labelledby="dropdownMenuLink" >
						    <form th:action="@{/logout}" method="post" id="loggout" style="margin-bottom: 3px; margin-left: 5px;">
						        <button class="btn btn-outline-success" onclick="document.getElementById('loggout').submit()" type="submit" style="color:green !important">Cerrar sesion</button>
						    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						    </form>
						    
						    <form  th:action="@{/perfil}" style="margin-bottom: 3px; margin-left: 5px;">
						        <button class="btn btn-outline-success" type="submit" value="enviar" style="color:green !important">Perfil</button>					    	
						    </form>
						    					  					   
						    <form th:action="@{/Adscripciones}" th:if="${usuario} == 'ROLE_ADMIN' " style="margin-bottom: 3px; margin-left: 5px;">
						        <button class="btn btn-outline-success" type="submit" value="enviar" style="color:green !important">Adscripciones</button>					    	
						    </form>
					  </div>
					</li>								 	
			   </ul>		        
		      </div>
		    </div>
		  </div>
		</div>
       
       
	</header>

					<nav id="nav" style="padding: unset;height: 50px;margin-top: 18px;">

            <div class="">
              <p style="font-weight: bold; margin-top: 14px; color:white;">SISTEMA GESTOR DE VEHICULOS</p>
            </div>
           
					</nav>

				<!-- Main -->
		<div id="main">					

					<!-- Seccion con bootstrap -->
					
		<section id="intro" class="main">

            <div class="card-group card-background">
					<div class="card-deck" style="margin-top: -41px;">
							<!-- Viajes -->
						  <div class="card-image">
							   <form th:action="@{/Viajes}" name="salir">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/itinerario.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>						    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">VIAJES</p>
						    </div>
						 </div>
						 
						 <div class="card-image">
							   <form th:action="@{/Vehiculos}" name="salir">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/vehiculos.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>						    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">VEHICULOS</p>
						    </div>
						 </div>
						 
						 <div class="card-image">
							   <form th:action="@{/Conductores}" name="salir">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/conductor.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>						    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">CONDUCTORES</p>
						    </div>
						 </div>
						 
						 <div class="card-image">
							   <form th:action="@{/Seguros}" name="salir">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/documento.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>						    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">SEGUROS</p>
						    </div>
						 </div>
		
						 <div th:if="${usuario} == 'ROLE_ADMIN' " class="card-image" >						 
							   <form th:action="@{/Usuarios}" name="salir" id="SA">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/equipo.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>					    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">USUARIOS</p>
						    </div>						  
						 </div>
								
						 
						 <div class="card-image">
							   <form th:action="@{/Mantenimientos}" name="salir">		 		
	                                  <button class="btn btn-lg btn-primary btn-block btn-signin ingresolog " id="IngresoLog" type="submit" value="enviar" >
							          <img src="images/mecanico.png" class="card-img-top imgboton" alt="..." style="border-radius: inherit; width: 180px; left: -11px; top:-5px;">
							         </button>
	                           </form>						    
						    <div class="card-footer">
						      <p class="card-title" style="text-align: center;">MANTENIMIENTO</p>
						    </div>
						 </div>
						 						 						 						 					
					</div>			

				</div>
		
		</section>		
		</div>
</div>
	
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
                       
                           
	</body>
</html>